.subHeader-container {
    display: flex;
    padding-top: 30px;
    padding-bottom: 10px;
    margin: auto;
    max-width: 800px;
}

.profile {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.profile_container{
    padding-left: 0px;
    width: 30%;
}

.subheader-text {
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 27px;
    padding-bottom: 10px;
    text-align: left;
}

.slogan {
    padding-bottom: 15px;
    font-style: italic;
}

.social-icons{
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}