.post-content{
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.picture-area{
    width: 295px;
    height: 295px;
}

.post-text{
    display: flex;
    flex-direction: column;
    padding-left: 10px;    
}

