.header-container {
    display: flex;    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    border: 1px rgb(28, 156, 216) solid;
}

.header-menu > ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

ul > li {    
    padding-left: 10px;
    background: none;
}