.postone_container{
    display: flex;
    padding: 10px;
    border: 1px solid grey;
}

.PostImage{    
    padding-left: 0px;
}

.post{
    display: flex;
    flex-direction: column;
}

.post_title{
    font-size: 25px;
    padding-left: 20px;
}

.post_content{
    max-width: 600px;
    padding-left: 20px;
    text-align: justify;
}

.social {
    padding-top: 20px;
    padding-left: 20px;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}